body {
  margin: 0;
  min-height: 100%;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: rgb(202, 202, 202);
}

/* -------------  ХЕДЕР ------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 8%;
  padding: 0 12% 0;
  background-color: rgb(51, 51, 51);
  display: inline-flex;
  color: rgb(233, 233, 233);
  align-items: center;
}

.header-logo {
  align-self: flex-end;
  padding: 15px;
}

img {
  width: 25px;
}

/*---------- КАЛЬКУЛЯТОР ---------  */

.calculator-container {
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 70%;
  margin: 0 15% 0;
  padding: 8% 0 0;
}

h2,
p {
  margin: 40px 20px 20px 20px;
  text-align: center;
}

h2 {
  font-size: 2em;
}

/* .calculator-name {
   
} */

.calculator-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.field-block {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.input-field {
  width: 30%;
  /* margin: 40px; */
  flex-shrink: 2;
  padding: 20px;
  border: black solid 2px;
}

.is-refillable {
  border: none;
  padding: 5px;
}

.btn-container {
  margin-left: 60px;
  margin-bottom: 100px;
  display: block;
  border: none;
}

.button-submit {
  background-color: rgb(102, 214, 108);
  width: 30%;
  margin: 40px;
  flex-shrink: 2;
  padding: 20px;
  border: none;
}

.button-submit:hover {
  background-color: rgb(92, 185, 96);
}
.button-submit:active {
  background-color: rgb(66, 138, 70);
}

.boom {
  font-size: 30px;
}

.line {
  display: none;
}

#period-error,
#depositAmount-error,
#percent-error,
#refillAmount-error {
  margin: 0;
  padding: 0;
  color: red;
}

.test-field {
  display: flex;
  flex-direction: column;
}
.date-select,
.depositAmount,
.percent,
.refillAmount,
.is-refillable {
  width: 260px;
}

.period {
  width: 200px;
}

.spared {
  display: flex;
}

.noborder {
  width: 260px;
  border: none;
}
